.icon {
  cursor: pointer;
  color: rgb(49, 111, 245);
  margin-right: 15px;
}

.dialogBox {
  position: relative;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.textField {
  width: 500px;
  margin-top: 15px !important;
}

.dialogContentBox {
  display: flex;
  flex-direction: column;
}

.dialogListButton {
  display: flex;
  justify-content: right;
  margin-top: 15px;
}

.classInfo {
  display: flex;
  justify-content: space-between;
}

.classKey {
  margin-right: 3px;
}

.classValue {
}

.deleteIconBox {
  display: flex;
  justify-content: right;
  margin-bottom: 5px;
}

.deleteIcon {
  cursor: pointer;
}

.classInfoBoxB {
  flex: 1;
  border: 1px solid #e6e8f0;
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
}

.classInfoBox {
  flex: 1;
  border: 1px solid #e6e8f0;
  border-radius: 7px;
  padding: 10px;
  position: relative;
}

.addClassButton {
  height: 100%;
  min-height: 70px;
  border-radius: 8px;
  border: 1px solid #e6e8f0;
  width: 100%;
}
.deleteIcon {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 5px;
  transform: scale(0.6);
  border: 1px solid gray;
  border-radius: 100%;
  background: white;
  cursor: pointer;
}
