.icon {
  cursor: pointer;
  color: rgb(49, 111, 245);
  margin-right: 15px;
}

.dialogBox {
  position: relative;
}

.closeButton {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.textField {
  width: 500px;
  margin-top: 15px !important;
}

.dialogContentBox {
  display: flex;
  flex-direction: column;
}

.dialogListButton {
  display: flex;
  justify-content: right;
  margin-top: 15px;
}

.link {
  text-decoration: none;
}

.addClassButton {
  height: 100%;
  min-height: 130px;
  border-radius: 8px;
  border: 1px solid #e6e8f0;
  width: 500px;
}

.classInfoBox {
  border: 1px solid #e6e8f0;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  width: 500px;
}
.deleteIcon {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 5px;
  transform: scale(0.8);
  border: 1px solid gray;
  border-radius: 100%;
  background: white;
  cursor: pointer;
}

.listClassChoose {
  margin-top: 15px;
}

.classChoose {
  display: flex;
  margin-top: 15px;
}

.classChooseBox {
}
